# Obtain this from the Setup Page after creating an account on https://wisp.blog/
NEXT_PUBLIC_BLOG_ID=
NEXT_PUBLIC_BLOG_DISPLAY_NAME="Pham Dai Bang"
NEXT_PUBLIC_BLOG_COPYRIGHT="Pham Dai Bang"
NEXT_DEFAULT_METADATA_DEFAULT_TITLE="Pham Dai Bang's Writing Corner"
NEXT_PUBLIC_BLOG_DESCRIPTION="A small corner for words, reflection, and everyday observation."
NEXT_PUBLIC_BASE_URL="https://www.phamdaibang.com"
OG_IMAGE_SECRET=
